<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <script src="/docs/5.3/assets/js/color-modes.js"></script>

</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">





  <main class="form-signin w-100 m-auto">
    <form [formGroup]="form" (submit)="login()">

      <div class="d-flex justify-content-center">
        <div class="col-lg-6 card card-body">
          <div class="d-flex justify-content-center">
            <img class="mb-4" src="assets/img/about/login1.jpg" alt="" width="120" height="120">
          </div>

          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
          <div class="form-floating mb-3">
            <label for="floatingInput">Matricule</label>
            <input formControlName="matricule" type="text" class="form-control" placeholder="name-aaaa">

            <div class="erreur2" *ngIf="error==true">
              matricule  or mot de passe is incorrect
            </div>
            <div class="erreur" *ngIf="form.get('matricule')?.value=='' && form.get('matricule')?.touched">
              matricule est obligatoire
            </div>
            <div class="erreur"
              *ngIf="form.get('matricule')?.invalid && form.get('matricule')?.touched && !(form.get('matricule')?.value=='')">
                matricule is not valid
            </div>

          </div>
          <div class="form-floating mb-3">
            <label for="floatingPassword">Password</label>
            <input formControlName="password" type="password" class="form-control" placeholder="Password">


            <div class="erreur" *ngIf="form.get('password')?.value=='' && form.get('password')?.touched">
              Password is  OBLIGATORY
          </div>
          <div class="erreur" *ngIf="form.get('password')?.invalid && form.get('password')?.touched && !(form.get('password')?.value=='')">
            The password must be at least 3 characters long

          </div>

          </div>

         
          <button  mat-fab extended color="accent"  class="ml-auto">
            <mat-icon>arrow_right_alt</mat-icon>
            Sign in
        </button>
        
        </div>
      </div>



      <p class="mt-5 mb-3 text-body-secondary"> </p>
    </form>
  </main>
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</body>

</html>