<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <script src="/docs/5.3/assets/js/color-modes.js"></script>
</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">





    <main class="form-signin w-100 m-auto">
        
        <form [formGroup]="editForm" (submit)="editUser()">
            <div class="d-flex justify-content-center">
                <div class="col-lg-6 card card-body"> 
            <h1 class="h3 mb-3 fw-normal">Edit Profile</h1>
            <div class="form-floating mb-3">
                <label for="floatingInput">User Name</label>
                <input formControlName="userName"type="text" class="form-control" id="floatingInput" placeholder="userName">
             </div>
          
            <div class="form-floating mb-3">
                <label for="floatingInput">Email</label>
                <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="email">
                
            </div>

            <div class="form-floating mb-3">
                <label for="floatingInput">Birthday</label>
                <input formControlName="birthday" type="date" class="form-control" id="floatingInput" placeholder="birthday">
                
            </div>
      
            <div class="form-floating mb-3">
                <label for="floatingInput">CIN</label>
                <input  formControlName="cin" type="text" class="form-control" id="floatingInput" placeholder="cin">
                
            </div>
            <div class="form-floating mb-3">
                <label for="floatingInput">Phone Number</label>
                <input  formControlName="phone_number" type="text" class="form-control" id="floatingInput" placeholder="phone_number">
                
            </div>
  
            <div class="d-flex justify-content-end" >
                
                <button mat-fab extended color="accent" type="submit" >Edit</button>
              </div>
                <p class="mt-5 mb-3 text-body-secondary"></p>
        
        </div>
    </div>
        </form>
      
    </main>
   

</body>

</html>