
<div class="img-container">
    <img src="assets/img/about/stt_logo.png"  style="align-self: center;">

</div>
<mat-card>
    <mat-card-title>
        STT -Société de Transport de Tunis
    </mat-card-title>
    <mat-card-content>
        La Société des transports de Tunis (arabe : شركة النقل بتونس) ou STT, dont la dénomination commerciale est Transtu, est une entreprise publique tunisienne chargée de la gestion du transport des passagers sur les réseaux d'autobus et de métro léger de l'agglomération de Tunis ainsi que l'exploitation de la ligne ferroviaire TGM. 
    </mat-card-content>
  

</mat-card>
<br>
<br>  