
<div class ="addModal">

<h2 mat-dialog-title class="title">Ajouter un controlleur </h2>
<div mat-dialog-content>
    <form [formGroup]="userForm" (submit)="submitForm()">
      <div class="form-group form-group-inline">
        <label for="userName" class="col-form-label">Nom</label>
        <input type="text" formControlName="userName" class="form-control" id="userName">
    </div>
    <div class="form-group form-group-inline">
        <label for="email" class="col-form-label">Email</label>
        <input type="text" class="form-control" formControlName="email" id="email">
    </div>
    
        <div class="form-group">
            <label for="birthday" class="col-form-label">Birthday</label>
            <input type="text" class="form-control" formControlName="birthday" id="birthday">
        </div>
        <div class="form-group">
            <label for="password" class="col-form-label">Password</label>
            <input type="text" class="form-control" formControlName="password" id="password">
        </div>
        <div class="form-group">
            <label for="phone_number" class="col-form-label">Num telephone</label>
            <input type="text" class="form-control" formControlName="phone_number" id="phone_number">
        </div>
        <div class="form-group">
            <label for="cin" class="col-form-label">CIN</label>
            <input type="text" class="form-control" formControlName="cin" id="cin">
        </div>
        
    </form>
</div>
<div class="actions" class="custom-dialog-actions ">
    <button mat-fab extended color="accent" (click)="submitForm()">
      <mat-icon>save</mat-icon>
      Save</button>
    <button mat-fab extended color="accent" (click)="close()">
      <mat-icon>cancel</mat-icon>
      Cancel</button>
</div>
</div>