
<div class="menu">
   
    <br>
    <div class="user">

        <img style="height: 80px; width:80px;  align-items: center;"src="assets/img/about/ad.png"
         alt="">
         <br>
         <br>
         <br>
        <h6 class="name">UserName:{{user.userName}}</h6>
        <br>
        <p class="name">Matricule:{{user.matricule}}</p>
        </div>
        <br>
        <br>
        <div class="menu">
        <div class="menu-head">
        <span>Dashboard</span>
        </div>
        <br>
        <div class="menu-item">
        <button mat-button >
            <mat-icon >group_work</mat-icon>
            <a routerLink="users/list">Employees</a>
            </button>
            <br>
            <button mat-button >
            <mat-icon>card_travel</mat-icon>
            <a routerLink="voyage">Voyages</a>
            </button><br>
            <button mat-button>
            <mat-icon>directions_bus</mat-icon>
            <a routerLink="bus" >Bus</a>
            </button>
            <br>
            <button mat-button >
            <mat-icon>face</mat-icon>
            <a routerLink="users/profil">Profil</a>

            </button>
        </div>
    </div>