<div class="container">
    <div class="titleDiag">
        <h1 mat-dialog-title>Ajouer Un Bus</h1>
        <hr class="divider">

    </div>
    <div mat-dialog-content>

        <form [formGroup]="form" (submit)="addBus()" class="form">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Matricule du bus:</label>
                <input type="text" formControlName="numBus" class="form-control" id="recipient-name"
                    placeholder="123 Tu 2121">

                <div class="erreur" *ngIf="form.get('numBus')?.value=='' && form.get('numBus')?.touched">
                    La matricule est obligatoire
                </div>

                <div class="erreur"
                    *ngIf="form.get('numBus')?.invalid && form.get('numBus')?.touched && !(form.get('numBus')?.value=='')">
                    La matricule n'est pas valide , Format a suivre : 123 TU 2121
                </div>


            </div>


            <div class="form-floating mb-3">
                <label for="statusDropdown">Type de bus:</label>
                <select formControlName="type" class="form-control" id="statusDropdown">
                    <option value="">Select Type</option>
                    <option value="Bus">Bus</option>
                    <option value="Mini Bus">Mini Bus</option>
                </select>
                <div class="erreur" *ngIf="form.get('type')?.value=='' && form.get('type')?.touched">
                    type est obligatoire
                </div>
            </div>



            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Nombre de places :</label>
                <input type="number" class="form-control" formControlName="nbr_places" id="recipient-name">

                <div class="erreur" *ngIf="form.get('nbr_places')?.value=='' && form.get('nbr_places')?.touched">
                    nbr_places est obligatoire
                </div>

            </div>


        </form>

    </div>

    <div class="custom-dialog-actions ml-190">
        <button type="button" class="btn btn-custom-success" (click)="addBus()">Save</button>
        <button type="button" class="btn btn-custom-secondary" (click)="close()">Cancel</button>
    </div>

</div>