
<mat-sidenav-container class="container" >
    <mat-sidenav #sidebar mode="side" opened *ngIf="authenticated==true" >
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <mat-icon    (click)="sidenav.toggle()">notes</mat-icon> 
                    <div class="header-btn d-none f-right d-lg-block"  *ngIf="authenticated==false">
                        <button (click)="redirectToLogin()" mat-fab extended color="accent"  class="ml-auto">
                            <mat-icon>account_box</mat-icon>
                            Login
                        </button>
                        
                    </div>  
                    <div class="header-btn d-none f-right d-lg-block" *ngIf="authenticated==true">
                        <button (click)="logout()" mat-fab extended color="accent"  class="ml-auto">
                            <mat-icon>exit_to_app</mat-icon>
                            Logout
                        </button>
                     </div>

                </mat-toolbar>
            </div>
            <br>
          
            <br>
            <br>  
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-app-footer></app-app-footer>
